<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    
    <!--Css personalizado-->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Mascotas</title>
    
    <!--Bootstrap 5-->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <!--Favicon-->
  <link rel="shortcut icon" href="img/icono/favicon.ico">

</head>
<!-- Creacion de la etiqueta style en el header -->
<body class="bsignin">

    <header>
        <!--Menu principal-->
        <nav class="navbar navbar-dark bg-nav">
            <div class="container">
              <a class="navbar-brand" href="/"><i class="bi bi-arrow-90deg-left"></i> Inicio</a>
              <h1 class="text-light">Adopción de mascotas</h1>
              <form class="d-flex">
                <a class="navbar-brand" href="adoptar">Adoptar</a>
                <a class="navbar-brand" href="/contactenos">Contacto</a>
                <a class="navbar-brand" href="/signup">Registrate</a>
              </form>
            </div>
          </nav>
          <!--Fin Menu principal-->
        <% if (signinMessage.length > 0) { %>
            <div class="alert alert-danger"><%=signinMessage %></div>
        <% } %>
    </header>
<!-- fin del header -->
<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card mt-4 text-center mb-4">
            <div class="card-header">
                <h3>Inicio de Sesión</h3>
            </div>
            <div class="card-body">
                <form action="/signin" method="POST">
                    <div class="form-group mb-4">
                        <input class="form-control" type="email" name="email" placeholder="Insert Email" autofocus required>
                    </div>
                    <div class="form-group mb-4">
                        <input class="form-control" type="password" name="password" placeholder="Insert Password" required>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit">SignIn</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<%- include('partials/_footer') %> <!--Importa el layout footer desde partials-->