<!-- Comienzo del Footer -->
   
<!-- Footer -->
<footer class="text-center text-lg-start bg-nav text-muted">
  <!-- Section: Social media -->
  <section>
    <div class=" container d-flex justify-content-center p-4 border-bottom align-items-center">
    <!-- Left -->
    
    <div class="me-5 d-none d-lg-block text-light">
      <span class="fs-3">Síguenos y apoyanos en nuestras redes sociales</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <!-- Facebook -->
    <div>
      <a href="https://es-la.facebook.com/" target="blank" class="me-4 btn-facebook">
        <i class="bi bi-facebook"></i>
      </a>
      <!-- Twitter -->
      <a href="https://twitter.com/?lang=es" target="blank" class="me-4 btn-twitter">
        <i class="bi bi-twitter"></i>
      </a>
      <!-- Instagram -->
      <a href="https://www.instagram.com/" target="blank" class="me-4 btn-instagram">
        <i class="bi bi-instagram"></i>
      </a>
    </div>
    <!-- Right -->
  </div>
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="footer-title text-center"><i class="bi bi-info-circle"></i> Adopta Un amigo </h6>
          <p class="text-light py-3">
            Aquí encotraras muchos Animalitos que buscan 
            un hogar, son alegres dinamicos animate te sacaran una sonrisa.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="footer-title text-center">
            Nuestras mascotas
          </h6>
          <ul class="py-3">
            <li class="footer-li"><a href="#!" class="footer-a">Perros</a></li>
            <li class="footer-li"><a href="#!" class="footer-a">Gatos</a></li>
            <li class="footer-li"><a href="#!" class="footer-a">Tienda para perros</a></li>
            <li class="footer-li"><a href="#!" class="footer-a">Objetos para Gatos</a></li>
          </ul>
        
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="footer-title text-center">
            Contáctenos
          </h6>
          <ul class="py-3">
            <li class="footer-li">
              <p class="text-light"><i class="bi bi-house-door"></i>Cra 1 # 2 -3, Bogotá
              </p>
            </li>
            <li class="footer-li">
              <p class="text-light">
                <i class="bi bi-envelope"></i>
                mascotas@ejemplo.com
              </p>
            </li>
            <li class="footer-li">
              <p class="text-light">
              <i class="bi bi-telephone"></i>
                + 57 315 333 3333</p></li>
            <li class="footer-li"><p class="text-light">
              <i class="bi bi-whatsapp"></i>
              <a href="https://wa.me/5713201234567?text=Me%20interesa%20el%20auto%20que%20estás%20vendiendo" class="footer-a">320 123 45 67</a>
              </p></li>
          </ul>
      </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 text-light" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright: minTic UTP E-7-19
    </div>
  <!-- Copyright -->
</footer>

<!-- Fin del Footer -->   
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>

</body>
</html>