<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mascotas</title>
    <!--Css personalizado-->
    <link href="css/style.css" rel="stylesheet">
    <!--Bootstrap 5-->    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>
<body>

    <header>
        <!--Menu principal-->
        <nav class="navbar navbar-dark bg-dark">
            <div class="container-fluid">
              <a  href="#" class="navbar-brand"><img src="/src/img/logo.png" alt="Logo"></a>
              <h1 class="text-light">Adopta un amigo</h1>
              <form class="d-flex">
                <a class="navbar-brand" href="#nosotros">Nosotros</a>
                <a class="navbar-brand" href="#adoptar">Adoptar</a>
                <a class="navbar-brand" href="#contacto">Contacto</a>
                <a class="navbar-brand" href="admin.html">Admin</a>
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </div>
          </nav>
          <!--Fin Menu principal-->
    </header>
<!-- fin del header -->